/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Oswald', sans-serif;
*/

*{
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  color: #777;
}

header{
  background-color: salmon;
  color: white;
  text-align: center;
  padding: 2rem;
  border-radius: .6rem;
  box-shadow: 0 .3rem .5rem #888;
}
