*{
	box-sizing: border-box;
}

body{
	color:#ccc;
}

header{
	margin:0 1rem;
}

input[type="button"]{
	padding: 1rem 2rem;
	margin: 1rem;
	box-shadow: 0 .2rem .3rem #777;
	border-radius: .4rem;
	color: tomato;
	font-weight: 900;
	font-size: 2rem;
	background-color: #eee;
}

input[type="button"]:hover{
	background-color: tomato;
	color: white; 
	font-weight: 900;
}

a{
	text-decoration: none;
}

table{
	display: inline-table;
}
table h3{
	color:tomato;
	font-size: 1.5rem;
	font-weight: 900;
}