*{
	box-sizing: border-box;
}

body{
	color:#ccc;
}

header{
	margin:0 1rem;
}
h3[id="goBackHome"]{
	margin-left: 1rem;
	padding: .5rem 2rem;
	/*background-color: #eee;*/
	border:2px solid #ccc;
	border-radius: .4rem;
	/*box-shadow: 0 .2rem .3rem #777;*/
	max-width: 220px;
}
h3[id="goBackHome"]:hover{
	background-color: #eee;
}

p[id="synopsis"]{
	border:2px solid lightgrey;
}

input[type="button"]{
	padding: 1rem 2rem;
	margin: 1rem;
	/*box-shadow: 0 .2rem .3rem #777;*/
	border-radius: .4rem;
	color: tomato;
	font-weight: 900;
	font-size: 2rem;
	background-color: #eee;
}

input[type="button"]:hover{
	background-color: tomato;
	color: white; 
	font-weight: 900;
}

input[type="button"][id="goBack"]{
	padding: .5rem 2rem;
	margin:.5rem 0 0 0;
	font-size: 1rem;
	font-weight:400;
	/*box-shadow: 0 .2rem .3rem #777;*/
	border-radius: .4rem;
	color: tomato;
	background-color: #eee;
}

input[type="button"][id="goBack"]:hover{
	background-color: tomato;
	color: white; 
}

a{
	text-decoration: none;
	color: #777;
}

table{
	border-collapse: collapse;
	display: inline;
	margin: 0 2rem;
}
th{
	color: tomato;
	font-size: 2rem;
	font-weight: 900;
	text-align: left;
}
td{
	color: #777;
}